* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #131313;
    display: flex;
    align-items: center;
    height: 100vh;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 483px;
    grid-template-areas:
    ". nav"
    "left_section right_section";
    column-gap: 50px;
    width: 100%;
}

h2, h3 {
    font-family: "Yeseva One", serif;
    color: #E3B873;
}

p {
    font-family: "Nunito Sans", serif;
    color: #FFFFFF;
}

.nav {
    grid-area: nav;

    ul {
        display: flex;
        gap: 60px;
    }
}

.nav__item {
    list-style: none;
    cursor: pointer;
    padding-bottom: 6px;
    font-family: "Yeseva One", serif;
    font-size: 14px;
    color: #FFFFFF4D;
}

.nav__item_active {
    color: #E3B873;
    border-bottom: 2px solid #E3B873;
}

.left-section {
    grid-area: left_section;
    padding-left: 135px;
}

.left-section__title {
    position: relative;

    h2 {
        width: 160px;
        font-size: 27px;
    }
}

.title__line {
    display: block;
    position: absolute;
    background-color: #E3B873;
    height: 0.2vh;
    width: 110px;
    top: 45px;
    left: 180px;
}

.left-section__description {
    margin-top: 34px;
    font-size: 14px;
    font-weight: 400;
}

.left-section__project-info {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 13px;
        font-weight: 400;
        margin-top: 9px;
    }
}

.left-section__nav {
    margin-top: 80px;
    display: flex;
    gap: 30px;
}

.nav__points {
    display: flex;
    gap: 18px;
}

.right-section {
    grid-area: right_section;
}

.right-section__img {
    max-height: 483px;

    img {
        height: 100%;
    }
}
